/* style scrollbar */
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #55679a;
}


/*  header.php */
#header .header{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

.ten-khach-hang-navbar:focus, .ten-khach-hang-navbar:focus-visible{
	outline: none;
	box-shadow: none;
}

.ten-khach-hang-navbar{
	position: relative;
	overflow: hidden;
    transition: 0.2s;
    margin-right: 0;
}

.ten-khach-hang-navbar:hover{
    color: #255784;
    /* background: #2196f3;
    box-shadow: 0 0 10px #2196f3,0 0 10px #2196f3,0 0 10px #2196f3,0 0 10px #2196f3; */
    transition-delay: 1s;
}

.ten-khach-hang-navbar span{
    position: absolute;
    display: block;
}

.ten-khach-hang-navbar span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #2196f3);
}

.ten-khach-hang-navbar:hover span:nth-child(1){
    left: 100%;
    transition: 1s;
}

.ten-khach-hang-navbar span:nth-child(2){
    right: 0;
    top: -100%;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #2196f3);
}

.ten-khach-hang-navbar:hover span:nth-child(2){
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

.ten-khach-hang-navbar span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #2196f3);
}

.ten-khach-hang-navbar:hover span:nth-child(3){
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

.ten-khach-hang-navbar span:nth-child(4){
    left: 0;
    bottom: -100%;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #2196f3);
}

.ten-khach-hang-navbar:hover span:nth-child(4){
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}

#img-khach-hang-navbar{
	border-radius: 50%;
}

/* header.php */
.btn-content-logo, .btn-content-logo-text{
    padding: 0.3rem;
    color: transparent;
    background-image: linear-gradient(to top ,red,white,red);
    background-clip: text;
    -webkit-background-clip: text;
    display: inline-block;
    font-weight: bold;
}

.btn-content-logo:hover, .btn-content-logo:focus, .btn-content-logo:focus-visible{
    outline:none;
    box-shadow: none;
    text-decoration: none;
}

.btn-search-navbar{
    margin: 0;
    padding: 10px;
    background-color: white;
    border:none;
    
    border-radius: 0 10px 10px 0;
}

.btn-search-navbar:focus, .btn-search-navbar:focus-visible{
    outline: none;
}

.input-search-navbar{
    margin: 0;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 10px 0 0 10px;

}

::placeholder {
    font-size: 0.65em;
}

select{
    height: 2.4rem;
    border: 1px solid #d4d9df;
    border-radius: 0.6rem;
}

/* carosuel */
.carousel_body{
    z-index: -1;
}


/* paginations button */
.ul_btn_paginations li {
    list-style-type: none;
    color: white;
    margin: 10px;
    padding: 10px;
    
}

.ul_btn_paginations li a{
    color: white;
}


.ul_btn_paginations .li_btn_paginations_active{
    background-color: #007bff;
    border-color: #007bff;
    border-radius: 10px;
    color: #fff;
}

#btnShoppingCart{
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#btnShoppingCart:focus, #btnShoppingCart:focus-visible{
    outline: none;
    
}