body{
    background-color: #00000e;
}

/* body_trang_chu */
.body_thong_tin_nha_hang{
    background-color: #001533;
}

/* body_trang_chu */
.body_trang_user{
    background-color: #001533;
}

/* profile_nhahang */
.profile_sanpham, .profile_nhahang_sanpham{
    background-color: #3949ab; 
}

/* card */

.item_card_trangchu{
    width: 100%;
    height: 350px;
}

.item_card_trangchu{
    padding: 15px auto;
}

.item_card_trangchu p{
    padding: 0;
    margin : 0;
}

.item_card_trangchu img{
    padding: 0;
    margin : 0;
    height: 170px;
    width: 100%;
}

.item_card_trangchu .card-body{
    padding: 5px;
    /* height: 200px;
    position: relative; */
}

/* .item_card_trangchu .card-body .content_card_trangchu{
    position: absolute;
    inset: 5rem 0 3rem 0.4rem;
}

.item_card_trangchu .card-body button{
    position: absolute;
    inset: 9rem 0rem 0rem 0;
}

.table_sanpham{
    background-color: #222e7c;
    border-radius: 10px;
} */


/* footer.php */

.footer_trangchu{
    background-color: #1a235a;
}