body{
    background-color: #00000e;
}


/* header.php */
.btn-content-logo, .btn-content-logo-text{
    padding: 0.3rem;
    color: transparent;
    background-image: linear-gradient(to top ,red,white,red);
    background-clip: text;
    -webkit-background-clip: text;
    display: inline-block;
    font-weight: bold;
}

.btn-content-logo:hover, .btn-content-logo:focus, .btn-content-logo:focus-visible{
    outline:none;
    box-shadow: none;
    text-decoration: none;
}

.btn-search-navbar{
    margin: 0;
    padding: 10px;
    background-color: white;
    border:none;
    
    border-radius: 0 10px 10px 0;
}

.btn-search-navbar:focus, .btn-search-navbar:focus-visible{
    outline: none;
}

.input-search-navbar{
    margin: 0;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 10px 0 0 10px;

}

.btn-dang-nhap, .btn-dang-ky {
    border: none;
    color: white;
    background-color: #343a40;
}

.btn-dang-nhap:focus, .btn-dang-ky:focus, .btn-dang-nhap:focus-visible, .btn-dang-ky:focus-visible{
    outline: none;
}

.btn-dangnhap-dangky-navbar{
	position: relative;
	overflow: hidden;
    transition: 0.2s;
    padding: 10px;
    margin-right: 0;
}

.btn-dangnhap-dangky-navbar:hover{
    color: #d42432;
    /* background:  #d42432;
    box-shadow: 0 0 10px  #d42432,0 0 10px  #d42432,0 0 10px  #d42432,0 0 10px  #d42432; */
    transition-delay: 1s;
}

.btn-dangnhap-dangky-navbar span{
    position: absolute;
    display: block;
}

.btn-dangnhap-dangky-navbar span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent,  #d42432);
}

.btn-dangnhap-dangky-navbar:hover span:nth-child(1){
    left: 100%;
    transition: 1s;
}

.btn-dangnhap-dangky-navbar span:nth-child(2){
    right: 0;
    top: -100%;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent,  #d42432);
}

.btn-dangnhap-dangky-navbar:hover span:nth-child(2){
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

.btn-dangnhap-dangky-navbar span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent,  #d42432);
}

.btn-dangnhap-dangky-navbar:hover span:nth-child(3){
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

.btn-dangnhap-dangky-navbar span:nth-child(4){
    left: 0;
    bottom: -100%;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent,  #d42432);
}

.btn-dangnhap-dangky-navbar:hover span:nth-child(4){
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}

/* body_trang_chu */
.body_trang_chu{
    background-color: #001533;
}

/* products_nhahang.php */

.btn_choose_kindof_products button{
    border: none;
    margin: 0px 10px ;
    padding: 0px;
    background-color: #001533;
    color: white;
}

.btn_choose_kindof_products button:focus, .btn_choose_kindof_products button:focus-visible{
    outline: none;
    box-shadow: none;
    border:none;
}

.item_card_trangchu{
    width: 100%;
    height: 300px;
}

.item_card_trangchu{
    padding: 15px auto;
}

.item_card_trangchu p{
    padding: 0;
    margin : 0;
}

.item_card_trangchu img{
    padding: 0;
    margin : 0;
    height: 170px;
    width: 100%;
}



.item_card_trangchu .card-body{
    padding: 5px;
}

/* footer.php */

.footer_trangchu{
    background-color: #1a235a;
}